<div class="item">
  <%= div_for post do %>
    <h2 class="title"><%= post.title %></h2>
    <p class="published_on"> Published on <%= time_tag post.publish_at, :pubdate => true, :format => '%B %d, %Y at %l:%M %p' %></p>
    <div class="content">
      <%= markdown post.content %>
    </div>
    <div class="taxonomy">
      <p class="tags">
        <% if post.tags.exists? %>
          Post was tagged with <%= post.hash_tags %>.
        <% end %>
        Last updated <%= post.last_updated %> ago.
      </p>
    </div>
  <% end %>
</div>
