<!DOCTYPE html>
<html>

    <head>
      <title>living5to9.com</title>
      
      <link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

      <%= stylesheet_link_tag :application %>
      <%= stylesheet_link_tag params[:controller] %>

      <%= csrf_meta_tag %>

    </head>

    <body>

        <div class="page <%= page_class %><%= ' frontpage' if frontpage? %>">

          <div class="header">

            <h1><%= link_to 'Living5to9.com', root_path %></h1>

            <div class="navigation">
              <%= image_tag 'masthead.jpg' unless photopage? %>
              <%= render 'layouts/navigation' %>
            </div>

          </div>
          
          <div class="body">
            <%= yield %>
          </div>

          <div class="footer">
            <%= render 'layouts/navigation' %>
          </div>

          <%= javascript_include_tag :application %>
          <%= javascript_include_tag params[:controller] %>

        </div>
        
        <div class="copyright">
          <p>Powered by blood, sweat, and a lot of caffeine.<br/>&copy; <%= Date.today.year %> Aptitude Studios. All rights reserved.</p>
        </div>

    </body>

</html>
